// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'fonts';
@import 'header';
@import 'video';
@import 'partner';

body {
  font-family: ff-speak-web, sans-serif;
}

.absolute-nav {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
h6, .h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2em;
}

@include media-breakpoint-down(md) {
  p {
    font-size: 1em;
  }
}

.img-insta {
  width: 50px;
}


.img-experience {
  width: 200px;
}

.img-footer {
  width: 100px;
}

.partner-title {
  color: #FFFFFF;
  font-weight: 700px;
  font-size: 1.5em;
}

.experience-list {
  font-size: 1.5em;
  letter-spacing: 4px;
}
.experience-list-divider {
  font-size: 1.8em;
  font-weight: 700;
}

@include media-breakpoint-down(md) {
  .experience-list {
    font-size: 1em;
  }
  .experience-list-divider {
    font-size: 1.2em;
  }
}

.labels {
  padding: 25px;
  p {
      margin-left:30px;
      letter-spacing: 4px;
  }
  .bar::after{
      content:'';
      border: solid 1px black;
      margin-left:30px;
      
  }
}

.navbar-toggler {
  border: 0px !important;
}

.contact-link {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}